#cardpay{
   margin-top: 20%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;

   /* background-image: url(https://previews.123rf.com/images/279photo/279photo1612/279photo161205273/68221977-payment-terminal-with-card-on-white-background-top-view-.jpg); */
}